body, input, button {
    font-family: 'Annie Use Your Telescope', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background: black;
    color: white;
}

button {
    border-radius: 0;
    border: 1px solid gray;
    background: black;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid white;
    }
}

div {
    margin: 4px 0;
}

button, input, span {
    margin: 0 4px;
}

h2 {
    color: #4a8f3c;
}
